[submodule "nvim/pack/plugins/start/nvim-treesitter"]
	path = nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/plugins/start/nvim-lspconfig"]
	path = nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "nvim/pack/plugins/start/hare.vim"]
	path = nvim/pack/plugins/start/hare.vim
	url = git@git.sr.ht:~sircmpwn/hare.vim
[submodule "nvim/pack/plugins/start/vim-haredoc"]
	path = nvim/pack/plugins/start/vim-haredoc
	url = git@git.sr.ht:~torresjrjr/vim-haredoc
