$include /etc/inputrc

set completion-ignore-case on

set show-all-if-ambiguous on

# Color files by types
set colored-stats On
set visible-stats On
set mark-symlinked-directories On
set menu-complete-display-prefix On

set editing-mode vi

